body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto;
}

.NiceTableRoot {
  /* table container */
  .NiceTableContainer {
    overflow: auto;
    border: 1px solid #ccc;
  }

  table {
    /* for fixed header */
    border-collapse: separate; 
    border: none;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
  }

  th, td {
    padding: 0.4em 0.5em 0.4em 1em;
    text-align: left;
    text-indent: -0.5em;
    border: none;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-spacing: 0;
  }

  /* Fixed Headers */
  th {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: 500;
  }

  .NiceTableCell-alignRight{
    text-align: right;
  }

  .NiceTableCell-alignCenter{
    text-align: center;
  }

  // Footer
  .NiceTable-Footer {
    width: 100%;
    border: 1px solid #ddd;
    border-top:0;
    display: flex;
  }

  /* Pagination */
  .NiceTable-Pagination {
    flex:1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .NiceTable-Pagination div {
    padding: 0.5rem 1rem;
  }

  .NiceTable-Pagination div[role=button] {
    cursor: pointer;
    color: black;
    float: left;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 50%;
  }
  
  .NiceTable-Pagination div[role=button].active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }

  .NiceTable-Pagination div[role=button].disabled {
    cursor: default;
    color: #bbb;
  }

  .NiceTable-Pagination div[role=button]:hover:not(.active):not(.disabled) {background-color: #ddd;}

  .NiceTable-Pagination-Select{
    margin: 0.5rem;
    padding: 0 1rem;
    border: 1px solid #ddd;
  }

  .NiceTable-Pagination-Text{
    padding: 0.5rem 0.5rem;
    line-height: 2rem;
  }

  .NiceTable-FooterToolbar {
    display: flex;
    align-items: center;
  }

  .NiceTable-IconButton {
    cursor: pointer;
    padding:  0.5rem;
    margin: 0.2rem;
    display:flex;
    align-items: center;
  }

  .NiceTable-IconButton:hover {background-color: #ddd;}

  .NiceTable-IconButton-Svg { 
    width: 1.2rem;
  }

  .NiceTable-IconButton-Label {
    font-size:0.7rem;
  }
}